.App {
  margin: 0 auto;
}

.form {
  background: lightgrey;
  height: 50px;
  position: center;
}

.input {
  font-size: 2rem;
}

.button-form {
  font-size: 2rem;
  border-radius: 30px;
}

.container-card {
  border: 1px solid blue;
}

.todo-card {
  width: 200px;
  border: 5px solid black;
  border-radius: 10px 50px;
  padding-left: 20px;
}